{% extends 'layout.html' %}

{% block content %}
    <!-- Header -->
    <header class="header" id="top">
        <div class="text-vertical-center">
            <h1>Hashtag Mania</h1>
            <h3>Upload your files to check the top used words</h3>
            <br>
            <!-- <a href="#about" class="page-scroll btn btn-dark btn-lg">Find Out More</a> -->
            <form method="post" action="/hashtags/" enctype="multipart/form-data">
              Select files: <input type="file" name="hashfile" multiple>
              <input type="submit"  class="page-scroll btn btn-dark btn-lg">
              {% csrf_token %}
            </form>
        </div>
    </header>
{% endblock content %}    